*{
    margin: 2px;
    padding: 0px;
}
    .nav{

        background-color: black;
        height: 30px;
        padding-top: 7px;
        display: flex;
    
        
        border-radius: 5px;
        
    }
        .navbar1{

            align-items:row;
            

            
        }
        .navbar2{

            flex-direction: row-reverse;
        }
            ul {
                margin-left: 20px;
            }
            li{
                display:inline;
                margin-left: 10px;
            
            color: red;
            text-shadow: chartreuse;
            border-radius: 3px;
            }

input {
    width: 90%;
      }

a{
    text-decoration: none;
    color: rgb(245, 243, 240);  
}
    a:hover{
        color: green;
        background-color:black;
        border-bottom: 2px blue;
    }

.contener{
    font-family: Arial, Helvetica, sans-serif;;

    margin :100px 300px;
    align-items: center;
    border: 2px solid red;
    padding:40px 80px 40px 40px;
    background-color: rgb(101, 182, 207);
    width:600px;
   
}
    
.table1{
    margin-left: 40px;
  
    width: 10%;
    
    
}
   
.table2{
    margin-left: 40px;
    border:1px  rgb(28, 35, 36);
    
    
}

#Result table tr{
    background-color: rgb(228, 228, 235);
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }

  .p1{
      font-size: 10px;
  }

  form table tr td{
      height: 40px;
      width: 70%;
  }

  input{
      height: 30px;

      
  }

  #Result{
    font-family: Arial, Helvetica, sans-serif;;

    margin :100px 300px;
    align-items: center;
    border:  none;
    padding:40px 80px 40px 40px;
   display: none;
    width:600px;
   

   
}



input[type=radio] {
    border: 0px;
    width: 100%;
    height: 2em;
}